html{
    background: rgba(2, 73, 105, 0.226);
}
.home {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#homepage{
    display: flex;
}
#guide{
    text-align: center;
}
.left{
  float: left;
  overflow: auto;
  padding: 15px;

}
article{
    padding: 20px;
    margin: 20px;
    border-style: solid;
}

header{
    text-align: center;
}
.bio{
    text-align: center;
}
h3{
    text-align: center;
}
.ingame{
    font-style: italic;
}